html, body, p, ol, ul, li, textarea, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: "europa", sans-serif;
}

body {
    color: #000000;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

.intro {
    padding-top: 0.5rem;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    color: #0a0a0a;
}

.section-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
    margin: 0 auto;
    position: relative;
    width: 75%;
}

.text-centered {
    text-align: center !important;
}

.intro-foot img.is-bottom {
    margin-bottom: -0.45rem;
    max-width: 860px;
}

.title {
    font-weight: 800;
    font-size: 3em;
    line-height: 1.125;
}

.title:not(:last-child),
.subtitle:not(:last-child) {
    margin-bottom: 1.5rem;
}

.subtitle {
    font-family: "europa", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.5rem;
}

.avatar {
    margin: 2rem 0;
    width: 210px;
}

.about-me, .footer {
    background-color: #077dd8;
    color: #fff;
    padding-top: 0.5rem;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me .section-body, .footer .section-body {
    width: 100%;
    max-width: 100%;
}

.about-me-container {
    flex: none;
    padding: .75rem;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -.75rem;
    margin-bottom: -.75rem;
}

.about-me .subtitle {
    font-family: "europa", sans-serif;
    font-weight: 300;
    line-height: 1.125;
    font-size: 2rem;
}

.about-me .paragraph {
    text-align: center;
}

.paragraph {
    font-family: "europa", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.25rem;
    text-align: justify;
}

.box {
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.icons-container {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.text-container {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto 0;
}

.languages {
    padding-top: 0.5rem;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #aabfef;
    color: #0a0a0a;
}

.habilidades {
    width: 100%;
    margin: 0 auto;
}

.habilidad {
    width: 13%;
    min-width: 6em;
    padding: .5em;
    margin: .3em;
    display: inline-block;
}

.frameworks {
    padding-top: 0.5rem;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #0a0a0a;
}

.frameworks .section-body {
    padding: 1.5rem 1.5rem;
}

.framework {
    margin: auto;
    max-width: 430px;
}

.devtools {
    color: #000;
    padding-top: 0.5rem;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("https://bahamut1797.github.io/circuit.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.devtools .section-body {
    background: rgba(255, 255, 255, 0.7);
}

.button {
    background-color: transparent;
    color: #fff;
    border-radius: 100%;
    margin: 0 0.8rem;
    height: 47px;
    width: 47px;
    border: 2px solid rgba(255,255,255,0.3);
    font-size: 1.18rem;
    font-family: "europa",sans-serif;
    text-decoration: none;
    font-weight: 400;
    justify-content: center;
    text-align: center;
    display: inline-flex;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.footer-container p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}